@page "~/address"
@model eticaret.Pages.Addresspage.AddressPageModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = "Adres", Titles = new List<string> { "Adres" } }))

<section class="section-contact padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-4 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="bb-contact-form">
                    <form method="post" asp-page-handler="AddAddress" autocomplete="off">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="bb-contact-wrap">
                            <input type="text" asp-for="@Model.addressAddViewModel.Title" placeholder="Adres Başlığı">
                            <span asp-validation-for="@Model.addressAddViewModel.Title"></span>
                        </div>
                        <div class="bb-contact-wrap">
                            <textarea asp-for="@Model.addressAddViewModel.Name" placeholder="Adres" rows="10"></textarea>
                            <span asp-validation-for="@Model.addressAddViewModel.Name"></span>
                        </div>
                        <div class="bb-contact-button">
                            <button class="bb-btn-2" type="submit">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-8 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="bb-faq-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                    <div class="accordion" id="accordionExample">

                        @if(Model.addressViewModel.Any())
                        {
                            @foreach (var item in Model.addressViewModel)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#@item.Flag" aria-expanded="true" aria-controls="collapseOne">
                                            @item.Title
                                        </button>
                                    </h2>
                                    <div id="@item.Flag" class="accordion-collapse collapse"
                                         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            @item.Name
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    Kayıtlı dres bulunamadı.
                                </h2>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
