@inject eticaret.Domain.UnitOfWork.IUnitofWork unitofWork
@using eticaret.Domain.Core.Entities

@if (products.Any(x => x.NewPrice > 0))
{
    <section class="section-deal padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title bb-deal" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="section-detail">
                            <h2 class="bb-title">İndirimli <span>Ürünler</span></h2>
                            <p>Kampanyamızdan yararlanmak için son dakikalar</p>
                        </div>
                        <div id="dealend" class="dealend-timer"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bb-deal-slider">
                        <div class="bb-deal-block owl-carousel">
                            @foreach (var item in products)
                            {
                                <div class="bb-deal-card-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <div class="bb-pro-box-2">
                                        <div class="bb-pro-img">
                                            <a href="javascript:void(0)">
                                                <div class="inner-img">
                                                    @if (item.Images.Any(c => c.IsShowcase == true))
                                                    {
                                                        @foreach (var image in item.Images.Where(c => c.IsShowcase == true))
                                                        {
                                                            <img class="main-img" src="assets/img/product/@image.Name" alt="@item.Name">
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(173,184,194,1)">
                                                            <path d="M5 11.1005L7 9.1005L12.5 14.6005L16 11.1005L19 14.1005V5H5V11.1005ZM5 13.9289V19H8.1005L11.0858 16.0147L7 11.9289L5 13.9289ZM10.9289 19H19V16.9289L16 13.9289L10.9289 19ZM4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM15.5 10C14.6716 10 14 9.32843 14 8.5C14 7.67157 14.6716 7 15.5 7C16.3284 7 17 7.67157 17 8.5C17 9.32843 16.3284 10 15.5 10Z">
                                                            </path>
                                                        </svg>
                                                    }
                                                </div>
                                            </a>
                                            <ul class="bb-pro-actions">
                                                <li class="bb-btn-group">
                                                    <a href="javascript:void(0)" title="Wishlist">
                                                        <i class="ri-heart-line"></i>
                                                    </a>
                                                </li>
                                                <li class="bb-btn-group">
                                                    <a href="javascript:void(0)" data-link-action="quickview"
                                                       title="Quick View" data-bs-toggle="modal"
                                                       data-bs-target="#bry_quickview_modal">
                                                        <i class="ri-eye-line"></i>
                                                    </a>
                                                </li>
                                                <li class="bb-btn-group">
                                                    <a href="compare.html" title="Compare">
                                                        <i class="ri-repeat-line"></i>
                                                    </a>
                                                </li>
                                                <li class="bb-btn-group">
                                                    <a href="javascript:void(0)" title="Add To Cart">
                                                        <i class="ri-shopping-bag-4-line"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bb-pro-contact">
                                            <div class="bb-pro-subtitle">
                                                <a href="/product-list/SubCategory/@item.SubCategory.Flag">@item.SubCategory.Name</a>
                                                <span class="bb-pro-rating">
                                                    @for (var v = 1; v != 6; v++)
                                                    {
                                                        if (v > item.RatinMax)
                                                        {
                                                            <i class="ri-star-line"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="ri-star-fill"></i>
                                                        }
                                                    }
                                                </span>
                                            </div>
                                            <h4 class="bb-pro-title">
                                                <a href="/product-detail/@item.Flag">@item.Name</a>
                                            </h4>
                                            <div class="bb-price">
                                                <div class="inner-price">
                                                    @if (item.NewPrice == 0)
                                                    {
                                                        <span class="new-price">@item.OldPrice</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="new-price">@item.NewPrice</span>
                                                        <span class="old-price">@item.OldPrice</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="bb-variations">
                                                @if (item.Colors.Any())
                                                {
                                                    <div class="bb-colors">
                                                        <ul class="item-color">
                                                            @foreach (var color in item.Colors)
                                                            {
                                                                <li class="bb-color" style="background-color: @color.Colorvalue"></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }

                                                <div class="bb-sizes">
                                                    <ul class="item-size">
                                                        <li class="bb-size active">S</li>
                                                        <li class="bb-size">M</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@code {
    List<Product> products = new List<Product>();

    protected override void OnInitialized()
    {
        products = unitofWork.Product().ProductJoin(predicate: x => (x.IsDeleted == false) && (x.NewPrice > 0));
    }
}
