@page "/siparislerim"
@model eticaret.Pages.Myorders.MyOrdersModel
@{
}

<style>
    
   /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    html, body {
        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
        background: linear-gradient(375deg, #1cc7d0, #2ede98);
    }*/

    ::selection {
        color: #fff;
        background: #1cc7d0;
    }

    .wrapper {
        height: 350px;
        width: 100%;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

        .wrapper .card {
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 5px;
            background: #fff;
            border-radius: 10px;
            transform: translateY(0deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
            transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
        }

        .wrapper:hover > .front-face {
            transform: rotateY(-180deg);
        }

        .wrapper .card img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .wrapper .back-face {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            transform: rotateY(180deg);
        }

        .wrapper:hover > .back-face {
            transform: rotateY(0deg);
        }

        .wrapper .back-face img {
            height: 150px;
            width: 150px;
            padding: 5px;
            border-radius: 50%;
            background: linear-gradient(375deg, #6c7fd8, #6c7fd8);
        }

        .wrapper .back-face .info {
            text-align: center;
        }

    .back-face .info .title {
        font-size: 20px;
        font-weight: 500;
    }

    .back-face ul {
        display: flex;
    }

        .back-face ul a {
            display: block;
            height: 40px;
            width: 40px;
            color: #fff;
            text-align: center;
            margin: 0 5px;
            line-height: 38px;
            border: 2px solid transparent;
            border-radius: 50%;
            background: linear-gradient(375deg, #6c7fd8, #6c7fd0);
            transition: all 0.5s ease;
        }

            .back-face ul a:hover {
                color: #6c7fd8;
                border-color: #6c7fd8;
                background: linear-gradient(375deg, transparent, transparent);
            }
</style>

<section class="section-checkout padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">

          <div class="col-lg-3 col-12 mb-24">

                <div class="bb-checkout-sidebar">
                    <div class="checkout-items" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" style="padding:0;border:0;">

                        <div class="wrapper" style="height:220px">
                            <div class="card front-face">
                                <img src="~/assets/img/profil.jpg">
                            </div>
                            <div class="card back-face">
                                <img src="~/assets/img/profil.jpg">
                                <div class="info">
                                    <div class="title">
                                        @User.FindFirst("FullName")?.Value
                                    </div>
                                    <!--<p>
                                        User interface designer and <br>front-end developer
                                    </p>-->
                                </div>
                            </div>
                        </div>

                        <div class="sub-title">
                            <br />
                        </div>

                        <div class="checkout-summary" style="padding-left:20px;padding-right:20px;border-radius:20px;">
                            <ul>
                                <li><span class="left-item">@User.FindFirst("FullName")?.Value</span></li>
                                <li><span class="left-item">@Model.userViewModel.Email</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <br />

                <div class="bb-checkout-sidebar">
                    <div class="checkout-items" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="checkout-summary">
                            <ul>
                                <li>
                                    <a href="/address">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                        &nbsp;
                                        <span class="left-item">Adres</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                        &nbsp;
                                        <span class="left-item">Ayarlar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                        &nbsp;
                                        <span class="left-item">Favoriler</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="sub-title">
                            <h4>Ödeme Seçenekleri</h4>
                        </div>
                        <div class="payment-img">
                            <img src="assets/img/payment/payment.png" alt="payment">
                        </div>

                    </div>
                    <!--<div class="checkout-items" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="sub-title">
                            <h4>Delivery Method</h4>
                        </div>
                        <div class="checkout-method">
                            <span class="details">
                                Please select the preferred shipping method to use on this
                                order.
                            </span>
                            <div class="bb-del-option">
                                <div class="inner-del">
                                    <span class="bb-del-head">Free Shipping</span>
                                    <div class="radio-itens">
                                        <input type="radio" id="rate1" name="rate" checked>
                                        <label for="rate1">Rate - $0 .00</label>
                                    </div>
                                </div>
                                <div class="inner-del">
                                    <span class="bb-del-head">Flat Rate</span>
                                    <div class="radio-itens">
                                        <input type="radio" id="rate2" name="rate">
                                        <label for="rate2">Rate - $5.00</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-order">
                            <h5>Add Comments About Your Order</h5>
                            <textarea name="your-commemt" placeholder="Comments"></textarea>
                        </div>
                    </div>
                    <div class="checkout-items" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                        <div class="sub-title">
                            <h4>Payment Method</h4>
                        </div>
                        <div class="checkout-method">
                            <span class="details">
                                Please select the preferred shipping method to use on this
                                order.
                            </span>
                            <div class="bb-del-option">
                                <div class="inner-del">
                                    <div class="radio-itens">
                                        <input type="radio" id="Cash1" name="radio-itens">
                                        <label for="Cash1">Cash On Delivery</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-order">
                            <h5>Add Comments About Your Order</h5>
                            <textarea name="your-commemt" placeholder="Comments"></textarea>
                        </div>
                    </div>-->
                </div>
            </div>

            <div class="col-lg-9 col-12 mb-24">
                <div class="bb-checkout-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="main-title">
                        <h4>Siparişlerim</h4>
                    </div>


                    <div class="accordion" id="accordionExample">

                        @if (Model.orderViewModel.Any())
                        {
                            foreach (var item in Model.orderViewModel)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@item.Flag" aria-expanded="false" aria-controls="@item.Flag">
                                            <img src="/assets/img/new-product/1.jpg" class="rounded float-start" alt="@item.Product.Name" style="width: 5%;margin:0 10px 0 0;"> @item.Product.Name
                                        </button>
                                    </h2>
                                    <div id="@item.Flag" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">

                                            <div class="card mb-3" style="max-width: 100%;border:0px;">
                                                <div class="row g-0">
                                                    <div class="col-md-4">
                                                        <img src="/assets/img/new-product/1.jpg" class="img-fluid rounded-start" alt="@item.Product.Name">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">@item.Product.Name</h5>
                                                            <p class="card-text">
                                                                @item.Product.Description
                                                            </p>

                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item" style="padding: 0">Adet         : @item.Quantity</li>
                                                                <li class="list-group-item" style="padding: 0">Birim Fiyat  : @item.Price TL</li>
                                                                <li class="list-group-item" style="padding: 0">Toplam Fiyat : @item.Total TL</li>
                                                            </ul>
                                                            <p class="card-text"><small class="text-body-secondary">@item.Product.CreateDate</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        
                        
                        
                    </div>

                </div>
            </div>

          
        </div>
    </div>
</section>