@page "~/product-list/{flag?}"
@model eticaret.Pages.Products.ProductListModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = $"Ürün Listesi", Titles = new List<string> { "Ürünler" } }))
@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.ShopCategory.ShopcategoryComponent>(RenderMode.ServerPrerendered))

<section class="section-shop">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-9 col-12 mb-24">
                <div class="bb-shop-pro-inner">
                    <div class="row mb-minus-24">
                        <div class="col-12">
                            <div class="bb-pro-list-top">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="bb-bl-btn">
                                            <button type="button" class="grid-btn btn-grid-100 active">
                                                <i class="ri-apps-line"></i>
                                            </button>
                                            <button type="button" class="grid-btn btn-list-100">
                                                <i class="ri-list-unordered"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="bb-select-inner">
                                            <div class="custom-select">
                                                <select>
                                                    <option selected disabled>Sort by</option>
                                                    <option value="1">Position</option>
                                                    <option value="2">Relevance</option>
                                                    <option value="3">Name, A to Z</option>
                                                    <option value="4">Name, Z to A</option>
                                                    <option value="5">Price, low to high</option>
                                                    <option value="6">Price, high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (Model.productExpandoObject.Any())
                        {
                            foreach (var item in Model.productExpandoObject)
                            {

                                <div class="col-md-4 col-6 mb-24 bb-product-box pro-bb-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <div class="bb-pro-box">
                                        <div class="bb-pro-img">
                                            @(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.News.NewComponent>(RenderMode.ServerPrerendered))
                                            @(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.ProductImg.ImgComponent>(RenderMode.ServerPrerendered))
                                            @(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Pro.ProactionsComponent>(RenderMode.ServerPrerendered))
                                        </div>
                                        <div class="bb-pro-contact">
                                            <div class="bb-pro-subtitle">
                                                <a href="shop-left-sidebar-col-3.html">@item.SubCategory.Name</a>
                                                <span class="bb-pro-rating">
                                                    @for (var v = 1; v != 6; v++)
                                                    {
                                                        if (v > item.RatinMax)
                                                        {
                                                            <i class="ri-star-line"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="ri-star-fill"></i>
                                                        }
                                                        @*@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Ratings.RatingComponent>(RenderMode.ServerPrerendered, new { yes = v.ratin }))*@
                                                    }
                                                </span>
                                            </div>
                                            <h4 class="bb-pro-title">
                                                <a href="product-left-sidebar.html">@item.Name</a>
                                            </h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque consectetur
                                                sit mollitia nihil magnam
                                                perspiciatis eos atque qui cupiditate delectus. Provident totam optio
                                                sapiente nam.
                                            </p>
                                            <div class="bb-price">
                                                <div class="inner-price">
                                                    <span class="new-price">$15</span>
                                                    <span class="old-price">$22</span>
                                                </div>
                                                <span class="last-items">500g</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-24">
                <div class="bb-shop-wrap">
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Kategori</h3>
                        </div>
                        <div class="bb-sidebar-contact">
                            <ul style="font-size:11px;">
                                @if (Model.categoryViewModel.Any())
                                {
                                    foreach (var item in Model.categoryViewModel)
                                    {
                                        <li>
                                            <div class="bb-sidebar-block-item">
                                                <a href="/product-list/@item.Flag" style="margin:0px;">
                                                    <svg width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 11V13H19V11H5Z" color="#6c7fd8"></path></svg>

                                                    @item.Name
                                                </a>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Puan</h3>
                        </div>
                        <div class="bb-sidebar-contact">
                            <ul>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="javascript:void(0)" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="javascript:void(0)" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="javascript:void(0)" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="javascript:void(0)" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="javascript:void(0)" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Color</h3>
                        </div>
                        <div class="bb-color-contact">
                            <ul>
                                <li class="color-sidebar-active">
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-1"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-2"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-3"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-4"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-5"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-6"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-7"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-8"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-9"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <span class="pro-color-10"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Price</h3>
                        </div>
                        <div class="bb-price-range">
                            <div class="price-range-slider">
                                <p class="range-value">
                                    <input type="text" id="amount" readonly>
                                </p>
                                <div id="slider-range" class="range-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Tags</h3>
                        </div>
                        <div class="bb-tags">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Clothes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Fruits</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Snacks</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Dairy</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Seafood</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Toys</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">perfume</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">jewelry</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Bags</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




