@page "~/product/{flag}"
@model eticaret.Pages.Products.ProductDetailModel
@{
    ViewData["Title"] = "Ürün Detay";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    //Model.productViewModel = Model.productViewModel ?? new eticaret.Models.ProductViewModel(); // Ensure productViewModel is initialized
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = $"{Model.productViewModel.Name}", Titles = new List<string> { "Ürün Detay", $"{Model.productViewModel.Category.Name}", $"{Model.productViewModel.Name}" } }))

<section class="section-product padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-single-pro">
                    <div class="row">
                        <div class="col-lg-5 col-12 mb-24">
                            <div class="single-pro-slider">
                                @if (Model.productViewModel.Images.Any())
                                {
                                    <div class="single-product-cover">
                                        @foreach (var item in Model.productViewModel.Images)
                                        {
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="assets/img/new-product/@item.Name" alt="product-1">
                                            </div>
                                        }
                                    </div>
                                    <div class="single-nav-thumb">
                                        @foreach (var item in Model.productViewModel.Images)
                                        {
                                            <div class="single-slide">
                                                <img class="img-responsive" src="assets/img/new-product/@item.Name" alt="product-1">
                                            </div>
                                        }
                                    </div>

                                }
                                else
                                {
                                    <div class="single-product-cover">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(173,184,194,1)">
                                                            <path d="M5 11.1005L7 9.1005L12.5 14.6005L16 11.1005L19 14.1005V5H5V11.1005ZM5 13.9289V19H8.1005L11.0858 16.0147L7 11.9289L5 13.9289ZM10.9289 19H19V16.9289L16 13.9289L10.9289 19ZM4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM15.5 10C14.6716 10 14 9.32843 14 8.5C14 7.67157 14.6716 7 15.5 7C16.3284 7 17 7.67157 17 8.5C17 9.32843 16.3284 10 15.5 10Z">
                                                            </path>
                                                        </svg>
                                    </div>
                                }                                
                            </div>
                        </div>
                        <div class="col-lg-7 col-12 mb-24">
                            <div class="bb-single-pro-contact">
                                <div class="bb-sub-title">
                                    <h4>@Model.productViewModel.Name</h4>
                                </div>
                                <div class="bb-single-rating">
                                    <span class="bb-pro-rating">
                                        @for (var v = 1; v != 6; v++)
                                        {
                                            if (v > Model.productViewModel.RatinMax)
                                            {
                                                <i class="ri-star-line"></i>
                                            }
                                            else
                                            {
                                                <i class="ri-star-fill"></i>
                                            }
                                        }
                                    </span>
                                    <span class="bb-read-review">
                                        |&nbsp;&nbsp;<a>@Model.productViewModel.RatinCount Değerlendirme</a>
                                    </span>
                                </div>
                                <p>
                                    @Model.productViewModel.Description.Substring(0, 150)...
                                </p>
                                <div class="bb-single-price-wrap">
                                    <div class="bb-single-price">

                                        @if (Model.productViewModel.NewPrice == 0)
                                        {
                                            <div class="price">
                                                <h5>@Model.productViewModel.OldPrice TL</h5>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price">
                                                <h5>@Model.productViewModel.NewPrice TL</h5>
                                            </div>
                                            <div class="mrp">
                                                <p>Eski Fiyat : <span>@Model.productViewModel.OldPrice TL</span></p>
                                            </div>
                                        }
                                                                                
                                    </div>
                                </div>
                                <div class="bb-single-list">
                                    <ul>
                                        <li><span>Closure :</span> Hook & Loop</li>
                                        <li><span>Sole :</span> Polyvinyl Chloride</li>
                                        <li><span>Width :</span> Medium</li>
                                        <li><span>Outer Material :</span> A-Grade Standard Quality</li>
                                    </ul>
                                </div>
                                <div class="bb-single-pro-weight">
                                    <div class="bb-pro-variation-contant">
                                        <ul>
                                            @foreach(var item in Model.productViewModel.Colors)
                                            {
                                                <li class="variation" style="background-color: @item.Colorvalue;witdh:32px;height:32px;border-radius:32px;">
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="bb-single-qty">
                                    <div class="qty-plus-minus">
                                        <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                    </div>
                                    <div class="buttons">
                                        <a href="@Model.productViewModel.Flag" class="bb-btn-2">Sepete Ekle</a>
                                    </div>
                                    <ul class="bb-pro-actions">
                                        <li class="bb-btn-group">
                                            <a href="@Model.productViewModel.Flag">
                                                <i class="ri-heart-line"></i>
                                            </a>
                                        </li>
                                        <li class="bb-btn-group">
                                            <a href="@Model.productViewModel.Flag" data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                               data-bs-target="#bry_quickview_modal">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bey-single-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Ürün Açıklaması
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="bb-details">
                                        <p>
                                            @Model.productViewModel.Description
                                        </p>
                                        <div class="details-info">
                                            <ul>
                                                <li>Any Product types that You want - Simple, Configurable</li>
                                                <li>Downloadable/Digital Products, Virtual Products</li>
                                                <li>Inventory Management with Backordered items</li>
                                                <li>Flatlock seams throughout.</li>
                                            </ul>
                                            <ul>
                                                <li><span>Highlights</span>Form FactorWhole</li>
                                                <li><span>Seller</span>No Returns Allowed</li>
                                                <li><span>Services</span>Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    information
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="information">
                                        <ul>
                                            <li><span>Weight</span> 500 g</li>
                                            <li><span>Dimensions</span> 17 × 15 × 3 cm</li>
                                            <li><span>Color</span> black,yellow,red</li>
                                            <li><span>Brand</span> Wonder Fort</li>
                                            <li><span>Form Factor</span>Whole</li>
                                            <li><span>Quantity</span>1</li>
                                            <li><span>Container Type</span>Pouch</li>
                                            <li><span>Shelf Life</span>12 Months</li>
                                            <li><span>Ingredients</span>Dalchini, Dhaniya, Badi Elaichi, Laung</li>
                                            <li><span>Other Features</span>Ingredient Type: Vegetarian</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Yorumlar
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="bb-reviews">
                                        <div class="reviews-bb-box">
                                            <div class="inner-image">
                                                <img src="assets/img/reviews/1.jpg" alt="img-1">
                                            </div>
                                            <div class="inner-contact">
                                                <h4>Mariya Lykra</h4>
                                                <div class="bb-pro-rating">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
                                                    hic expedita asperiores eos neque cumque impedit quam, placeat
                                                    laudantium soluta repellendus possimus a distinctio voluptate
                                                    veritatis nostrum perspiciatis est! Commodi!
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reviews-bb-box">
                                            <div class="inner-image">
                                                <img src="assets/img/reviews/2.jpg" alt="img-2">
                                            </div>
                                            <div class="inner-contact">
                                                <h4>Saddika Alard</h4>
                                                <div class="bb-pro-rating">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
                                                    hic expedita asperiores eos neque cumque impedit quam, placeat
                                                    laudantium soluta repellendus possimus a distinctio voluptate
                                                    veritatis nostrum perspiciatis est! Commodi!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bb-reviews-form">
                                        <h3>Add a Review</h3>
                                        <div class="bb-review-rating">
                                            <span>Your ratting :</span>
                                            <div class="bb-pro-rating">
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-fill"></i>
                                                <i class="ri-star-line"></i>
                                            </div>
                                        </div>
                                        <form action="#">
                                            <div class="input-box">
                                                <input type="text" placeholder="Name" name="your-name">
                                            </div>
                                            <div class="input-box">
                                                <input type="email" placeholder="Email" name="your-email">
                                            </div>
                                            <div class="input-box">
                                                <textarea name="your-comment" placeholder="Enter Your Comment"></textarea>
                                            </div>
                                            <div class="input-button">
                                                <a href="javascript:void(0)" class="bb-btn-2">View Cart</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>