@page "~/product-list/{handler?}/{flag?}"
@model eticaret.Pages.Products.ProductListModel
@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = $"Ürün Listesi", Titles = new List<string> { "Ürünler" } }))


<section class="section-shop">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-9 col-12 mb-24">
                <div class="bb-shop-pro-inner">
                    <div class="row mb-minus-24">
                        <div class="col-12">
                            <div class="bb-pro-list-top">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="bb-bl-btn">
                                            <button type="button" class="grid-btn btn-grid-100 active">
                                                <i class="ri-apps-line"></i>
                                            </button>
                                            <button type="button" class="grid-btn btn-list-100">
                                                <i class="ri-list-unordered"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="bb-select-inner">
                                            <div class="custom-select">
                                                <select>
                                                    <option selected disabled>Sırala</option>
                                                    <option value="1">Ürünler, A - Z</option>
                                                    <option value="2">Ürünler, Z - A</option>
                                                    <option value="5">Yüksek'ten Düşüğe</option>
                                                    <option value="6">Düşük'ten Yükseğe</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        @if (Model.productExpandoObject.Any())
                        {
                            foreach (var item in Model.productExpandoObject)
                            {

                                <div class="col-md-4 col-6 mb-24 bb-product-box pro-bb-content" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <div class="bb-pro-box">
                                        <div class="bb-pro-img" style="width:100%;">
                                            @(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.News.NewComponent>(RenderMode.ServerPrerendered))
                                            @if (item.Images is not null)
                                            {
                                                foreach (var img in item.Images)
                                                {
                                                    @(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.ProductImg.ImgComponent>(RenderMode.ServerPrerendered, new { Name = img.Name }))
                                                }
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)">
                                                    <div class="inner-img">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(173,184,194,1)">
                                                            <path d="M5 11.1005L7 9.1005L12.5 14.6005L16 11.1005L19 14.1005V5H5V11.1005ZM5 13.9289V19H8.1005L11.0858 16.0147L7 11.9289L5 13.9289ZM10.9289 19H19V16.9289L16 13.9289L10.9289 19ZM4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM15.5 10C14.6716 10 14 9.32843 14 8.5C14 7.67157 14.6716 7 15.5 7C16.3284 7 17 7.67157 17 8.5C17 9.32843 16.3284 10 15.5 10Z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                </a>
                                            }

                                            @(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Pro.ProactionsComponent>(RenderMode.ServerPrerendered, new { ProductId = item.Id.ToString() }))
                                        </div>
                                        <div class="bb-pro-contact">
                                            <div class="bb-pro-subtitle">
                                                <a href="/product-list/SubCategory/@item.SubCategory.Flag">@item.SubCategory.Name</a>
                                                <span class="bb-pro-rating">
                                                    @for (var v = 1; v != 6; v++)
                                                    {
                                                        if (v > item.RatinMax)
                                                        {
                                                            <i class="ri-star-line"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="ri-star-fill"></i>
                                                        }
                                                        @*@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Ratings.RatingComponent>(RenderMode.ServerPrerendered, new { yes = v.ratin }))*@
                                                     }
                                                </span>
                                            </div>
                                            <h4 class="bb-pro-title">
                                                <a href="/product/@item.Flag">@item.Name</a>
                                            </h4>
                                            <p>
                                                @item.Description
                                            </p>
                                            <div class="bb-price"> 
                                                <div class="inner-price">
                                                    @if (item.NewPrice == 0)
                                                    {
                                                        <span class="new-price">@item.OldPrice</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="new-price">@item.NewPrice</span>
                                                        <span class="old-price">@item.OldPrice</span>
                                                    }                                                    
                                                </div>
                                                <span class="last-items">500g</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-24">
                <div class="bb-shop-wrap">
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Kategori</h3>
                        </div>
                        <div class="bb-sidebar-contact">
                            <ul style="font-size:11px;">
                                @if (Model.categoryViewModel.Any())
                                {
                                    foreach (var item in Model.categoryViewModel)
                                    {
                                        <li>
                                            <div class="bb-sidebar-block-item">
                                                <a href="/product-list/SubCategory/@item.Flag" style="margin:0px;">
                                                    <svg width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 11V13H19V11H5Z" color="#6c7fd8"></path></svg>
                                                    @item.Name
                                                </a>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Puan</h3>
                        </div>
                        <div class="bb-sidebar-contact">
                            <ul>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="/product-list/Point/0" style="margin:0;">
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="/product-list/Point/1" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="/product-list/Point/2" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="/product-list/Point/3" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="/product-list/Point/4" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-line"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <a href="/product-list/Point/5" style="margin:0;">
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                            <i class="ri-star-fill" style="color:#fea99a;"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Color</h3>
                        </div>
                        <div class="bb-color-contact">
                            <ul>
                                @if (Model.colorsViewModel.Any())
                                {
                                    foreach (var item in Model.colorsViewModel)
                                    {
                                        <li title="@item.Name">
                                            <a href="/product-list/color/@item.Id">
                                                <div class="bb-sidebar-block-item">
                                                    <span class="pro-color-1" style="background-color:@item.Colorvalue"></span>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    @*<div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Price</h3>
                        </div>
                        <div class="bb-price-range">
                            <div class="price-range-slider">
                                <p class="range-value">
                                    <input type="text" id="amount" readonly>
                                </p>
                                <div id="slider-range" class="range-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bb-sidebar-block">
                        <div class="bb-sidebar-title">
                            <h3>Tags</h3>
                        </div>
                        <div class="bb-tags">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">Clothes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Fruits</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Snacks</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Dairy</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Seafood</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Toys</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">perfume</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">jewelry</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Bags</a>
                                </li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>




