@page "~/blog"
@model eticaret.Pages.Blog.BlogModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = "Blog", Titles = new List<string> { "Blog" } }))

<section class="section-blog padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">

            @if (Model.blogInfoViewModel.Any())
            {
                foreach (var blog in Model.blogInfoViewModel)
                {
                    <div class="col-lg-4 col-md-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="bb-blog-card">
                            <div class="blog-image">
                                <img src="assets/img/blog/1.jpg" alt="blog-1">
                            </div>
                            <div class="blog-contact">
                                <h5><a asp-page="BlogDetail">@blog.Title</a></h5>
                                <p>
                                    @blog.Description.Substring(0, 135)
                                </p>
                                <div class="blog-btn">
                                    <a asp-page="BlogDetail" asp-route-id="@blog.Id" as class="bb-btn-2">Oku</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="col-12">
                <div class="bb-pro-pagination">
                    <p>Toplam Blog Yazısı @Model.blogInfoViewModel.Count() </p>
                    <ul>
                        <li class="active">
                            <a href="javascript:void(0)">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">3</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">4</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="next">Next <i class="ri-arrow-right-s-line"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>