@page "~/blog-detail"
@model eticaret.Pages.Blog.BlogDetailModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = "Blog", Titles = new List<string> { "Blog","Blog Detay", $"{Model.blogDetailViewModel.Title}" } }))

<section class="section-blog-details padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-blog-details-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="inner-blog-details-image">
                        <img src="assets/img/blog-details/one.jpg" alt="details-one">
                    </div>
                    <div class="inner-blog-details-contact">
                        <div style="display: flex;flex-direction:row;justify-content:space-between;">
                            <span>@Model.blogDetailViewModel.CreateBy</span>
                            <span>@Model.blogDetailViewModel.CreateDate</span>
                        </div>
                        <br />
                        <h4 class="sub-title">@Model.blogDetailViewModel.Title</h4>
                        <p>
                            @Model.blogDetailViewModel.Description
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam harum inventore, ipsa
                            velit, laudantium perspiciatis exercitationem veritatis, molestiae magnam voluptatibus
                            suscipit accusamus fuga veniam laborum cumque vitae cum? Cumque, aliquid.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog-inner-image">
                                    <img src="assets/img/blog/1.jpg" alt="blog-1">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-inner-image">
                                    <img src="assets/img/blog/2.jpg" alt="blog-2">
                                </div>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis inventore fuga at
                            ducimus nihil molestiae vel beatae numquam assumenda dicta modi. Mollitia soluta ipsa
                            repudiandae quaerat maiores quo officia, sunt, ab omnis id soluta explicabo quas? Quasi
                            nam, inventore voluptas tempore ex modi consequuntur reiciendis enim, molestias labore
                            neque! A nostrum necessitatibus dolorem sequi earum inventore labore error.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam harum inventore, ipsa
                            suscipit accusamus fuga veniam laborum cumque vitae cum? Cumque, aliquid.
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="bb-pro-pagination">
                            <p>Toplam Blog Yazısı @Model.count</p>
                            <ul>
                                <li>
                                    <a asp-page="BlogDetail" asp-route-id="@(Model.blogDetailViewModel.Id - 1)" class="next">Geri <i class="ri-arrow-right-s-line"></i></a>
                                </li>
                                
                                <li>
                                    <a asp-page="BlogDetail" asp-route-id="@(Model.blogDetailViewModel.Id + 1)" class="next">İleri <i class="ri-arrow-right-s-line"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bb-blog-details-comment">
                        <div class="main-title">
                            <h4>Comments</h4>
                        </div>
                        <div class="bb-comment-box">
                            <div class="inner-image">
                                <img src="assets/img/reviews/1.jpg" alt="reviews-1">
                            </div>
                            <div class="inner-contact">
                                <h5 class="sub-title">Mariya Lykra</h5>
                                <span>May 14,2020</span>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, et? Quam eius
                                    facere optio explicabo consequatur aut ad. Magnam, aspernatur!
                                </p>
                                <a href="javascript:void(0)" class="bb-details-btn">Reply <i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                        <div class="bb-comment-box bb-pl-50">
                            <div class="inner-image">
                                <img src="assets/img/reviews/2.jpg" alt="reviews-1">
                            </div>
                            <div class="inner-contact">
                                <h5 class="sub-title">Saddika Alard</h5>
                                <span>May 14,2020</span>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, et? Quam eius
                                    facere optio explicabo consequatur aut ad. Magnam, aspernatur!
                                </p>
                                <a href="javascript:void(0)" class="bb-details-btn">Reply <i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bb-blog-details-comment">
                        <div class="main-title">
                            <h4>Leave A Reply</h4>
                        </div>
                        <form method="post">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="bb-details-input">
                                        <input type="text" placeholder="Enter Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="bb-details-input">
                                        <input type="email" placeholder="Enter Your Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bb-details-input">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bb-details-buttons">
                                        <a href="javascript:void(0)" class="bb-btn-2">Yorum Yap</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

