@page "~/basket"
@model eticaret.Pages.Basket.BasketModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = "Sepet", Titles = new List<string> { "Sepet", "Ürün Listesi" } }))

<section class="section-cart padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-4 mb-24">
                <div class="bb-cart-sidebar-block" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="bb-sb-title">
                        <h3 id="deneme">Ödeme Bilgileri</h3>
                    </div>
                    <div class="bb-sb-blok-contact">
                        <div class="bb-cart-summary">
                            <div class="inner-summary">
                                <ul>
                                    <li><span class="text-left">Fiyat</span><span class="text-right">@Model.TotalPrice.ToString("C")</span></li>
                                    <li><span class="text-left">KDV</span><span class="text-right">@Model.KDV.ToString("C")</span></li>
                                    <li><span class="text-left">Kargo</span><span class="text-right">@Model.Transfer.ToString("C")</span></li>
                                    <li>
                                        <span class="text-left">İndirim Kuponu</span>
                                        <span class="text-right"><a class="bb-coupon drop-coupon">Ekle</a></span>
                                    </li>
                                    <li>
                                        <div class="coupon-down-box">
                                            <form method="post">
                                                <input class="bb-coupon" type="text" placeholder="İndirim Kuponu" name="bb-coupon" required>
                                                <button class="bb-btn-2" type="submit">Ekle</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="summary-total">
                                <ul>
                                    <li><span class="text-left">Toplam Fiyat</span><span class="text-right">@Model.KDVTotal.ToString("C")</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mb-24">
                <div class="bb-cart-table" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <table>
                        <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>Fiyat</th>
                                <th>Adet</th>
                                <th>Toplam</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.basketViewModel.Any())
                            {
                                foreach (var basket in Model.basketViewModel)
                                {
                                    <tr>
                                        <td>
                                            <a href="/product/@basket.Product.Flag">
                                                <div class="Product-cart">
                                                    @if (basket.Product.Images.Any())
                                                    {
                                                        foreach (var img in basket.Product.Images)
                                                        {
                                                            <img src="/assets/img/new-product/@img.Name" alt="@img.Name">
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(173,184,194,1)" width="68" height="68">
                                                            <path d="M5 11.1005L7 9.1005L12.5 14.6005L16 11.1005L19 14.1005V5H5V11.1005ZM5 13.9289V19H8.1005L11.0858 16.0147L7 11.9289L5 13.9289ZM10.9289 19H19V16.9289L16 13.9289L10.9289 19ZM4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM15.5 10C14.6716 10 14 9.32843 14 8.5C14 7.67157 14.6716 7 15.5 7C16.3284 7 17 7.67157 17 8.5C17 9.32843 16.3284 10 15.5 10Z">
                                                            </path>
                                                        </svg>
                                                    }
                                                    <span>@basket.Product.Name</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="price">@(basket.Product.NewPrice == 0 ? basket.Product.OldPrice.ToString("C") : basket.Product.NewPrice.ToString("C"))</span>
                                        </td>
                                        <td>
                                            <div class="qty-plus-minus">
                                                <div>@basket.Total</div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="price">@(basket.Product.NewPrice == 0 ? (basket.Product.OldPrice * basket.Total).ToString("C") : (basket.Product.NewPrice * basket.Total).ToString("C"))</span>
                                        </td>
                                        <td>
                                            <div class="pro-remove">
                                                <a href="javascript:void(0)">
                                                    @(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Basket.BasketremoveComponent>(RenderMode.ServerPrerendered, new { id = basket.Id.ToString() }))
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
                <a href="checkout.html" class="bb-btn-2 check-btn" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Satın Al</a>
            </div>
        </div>
    </div>
</section>



